
		<div class="ui raised segment">
			<h3 class="ui header">Legend</h3>

			<form class="ui form">
				<div class="field">
					<label>Popularity (unpopular to trendy)</label>
					<div class="ui grid">
						<div class="four column row" style="padding-bottom: 0">
							<div class="column">
								<svg height="32" width="22">
									<path stroke="#404040" fill="#CFD8DC" d="m11 31c0 0 0 0 0 0s10-15 10-20c0-7-5-10-10-10-5 0-10 3-10 10 0 5 10 20 10 20s0 0 0 0zm-3-20c0-2 2-3 3-3 2 0 3 2 3 3s-2 3-3 3c-2 0-3-2-3-3z" />
								</svg>
							</div>
							<div class="column">
								<svg height="32" width="22">
									<path stroke="#404040" fill="#d19a9e" d="m11 31c0 0 0 0 0 0s10-15 10-20c0-7-5-10-10-10-5 0-10 3-10 10 0 5 10 20 10 20s0 0 0 0zm-3-20c0-2 2-3 3-3 2 0 3 2 3 3s-2 3-3 3c-2 0-3-2-3-3z" />
								</svg>
							</div>
							<div class="column">
								<svg height="32" width="22">
									<path stroke="#404040" fill="#d34c50" d="m11 31c0 0 0 0 0 0s10-15 10-20c0-7-5-10-10-10-5 0-10 3-10 10 0 5 10 20 10 20s0 0 0 0zm-3-20c0-2 2-3 3-3 2 0 3 2 3 3s-2 3-3 3c-2 0-3-2-3-3z" />
								</svg>
							</div>
							<div class="column">
								<svg height="32" width="22">
									<path stroke="#404040" fill="#d51317" d="m11 31c0 0 0 0 0 0s10-15 10-20c0-7-5-10-10-10-5 0-10 3-10 10 0 5 10 20 10 20s0 0 0 0zm-3-20c0-2 2-3 3-3 2 0 3 2 3 3s-2 3-3 3c-2 0-3-2-3-3z" />
								</svg>
							</div>
						</div>
					</div>
				</div>
				<div class="field">
					<label>Wished place</label>
					<svg height="32" width="22">
						<path stroke="#d51317" stroke-width="2" fill="#fff" d="m11 31c0 0 0 0 0 0s10-15 10-20c0-7-5-10-10-10-5 0-10 3-10 10 0 5 10 20 10 20s0 0 0 0zm-3-20c0-2 2-3 3-3 2 0 3 2 3 3s-2 3-3 3c-2 0-3-2-3-3z" />
					</svg>
				</div>
			</div>
		</div>
