
		<div class="ui raised segment">
			<h3 class="ui header">Legend</h3>

			<form class="ui form">
				<div class="field">
					<label>
						Metro station
					 </label>
					<div style="width:30px;height:30px;line-height:28px;text-align:center;color:#fff;font-family:Lato;font-weight:bold;background:#d51317;border:1px solid #000;border-radius:5px;">M</div>
				</div>

				<div class="field" style="margin-top:10px">
					<label>Wished place</label>
					<svg height="32" width="22">
						<path stroke="#d51317" stroke-width="2" fill="#fff" d="m11 31c0 0 0 0 0 0s10-15 10-20c0-7-5-10-10-10-5 0-10 3-10 10 0 5 10 20 10 20s0 0 0 0zm-3-20c0-2 2-3 3-3 2 0 3 2 3 3s-2 3-3 3c-2 0-3-2-3-3z" />
					</svg>
				</div>
			</div>
		</div>
